h1{
    text-align:center;
    background-color:#92A8D1;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px rgb(174, 164, 164);
}
img {
    margin: auto;
}
.textcenter{
    text-align: center;
}
.image_flex {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top:5px;
}
#bannersize {
    width: 100%;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#sizemypic {
    border-radius: 15%;
    width: 350px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sizemypicright {
    border-radius: 80%;
    width: 50%;
    height: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sizeimageright {
    border-style: hidden;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sizeimageleft {
    border-style: hidden;
    width: 85%;
    height: 35%;
    text-align: center;
}
div > span {
    text-align: left;
    font-weight:bold;
}
h3 {
    text-align: left;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h5decor{
    text-decoration: underline;
    background-color: #f7cac9;
    color: black;
}
h6{
    text-align: left;
    color: white;
}
.h6color{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.projectimagesize{
    width: 60%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}
.comproimagesize{
    display: flex;
    flex-wrap: wrap;
    width:60%;
    padding-top:5px;
    justify-content: center;
}
button{
    color:black;
}
div>a{
    color: black;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: purple;
}
a{
    color:white;
    text-align: center;

}
a:hover{
    color: purple;
}
fieldset{
    background-color: #b4c9f1;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}
.name {
    display:inline-block;
    background-color: wheat;
    font-size: h3;
}
.topic{
    display: inline;
    background-color: bisque;
    color: black;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
}
.decor{
    text-align: center;
    border: black;
    background-color: #92A8D1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

hr {
    height: 8px;
    background-color: #c293fc;
}
#contentul{
    text-align: center;
    background-color: #92A8D1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.grid-container {
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 10px;
}
.grid-container > div {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color: #f7cac9;
}
#header {
    grid-column: 1 / span 3;
}

#menu {
    grid-column: 1 / span 1;
}

#main {
    grid-column: 2 / span 1;
}

#right {
    grid-column: 3 / span 1;
}

#footer {
    grid-column: 1 / span 3;
    padding:30px;
}

@media only screen and (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }

    #header {
        grid-column: 1 / span 2;
    }

    #menu {
        grid-column: 1 / span 2;
        text-align: center;
    }

        #menu div {
            display: inline-block;
        }

    #main {
        grid-column: 1 / span 1;
    }

    #right {
        grid-column: 2 / span 1;
    }

    #footer {
        grid-column: 1 / span 2;
    }

    body {
        background-color: lightcoral;
    }
    .sizeimageleft {
        border-style: hidden;
        width: 120px;
        height: 50px;
    }
} 

@media only screen and (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    #header {
        grid-column: 1 / span 1;
    }

    #menu {
        grid-column: 1 / span 1;
        text-align: center;
    }

    #main {
        grid-column: 1 / span 1;
    }

    #right {
        grid-column: 1 / span 1;
    }

    #footer {
        grid-column: 1 / span 1;
    }
    body{
        background-color:cornflowerblue;
    }
}

